.header {
  margin: 25px 0;
  .logo{
    img {
      max-width: 300px;
    }
  }
}

.footer {
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  background-color: #f8f8f8;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .footer {
    position: relative;
    margin-top: 25px;
  }
}